body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.time-section{
    margin-left: 80px;
}

.time-article{
    width: 380px;
    float: left;
    text-align: center;
    margin: 10px;
    background: white url("../img/image5.jpeg") no-repeat scroll bottom;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.time-article h1{
    font-size: 30px;
}